*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color:bisque;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main{
   
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

 
}
#meio{ 
    width: 100%;
    height:75%; 
   
  
    display: flex;
    justify-content: center;
    align-items: center;   
    
}

figure{background-color:#fff;
    background-image: url(../src/image-product-desktop.jpg);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:87.5%;
    width:15%; 

}


section{
    background-color:#fff;
   
    height:87.5%;
    width:15%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
   
    display: flex;
    flex-direction: column;
    justify-content: center;

        
}
h1{
    width: 100px;
    height: 12px;
    margin-left: 20px;
    margin-top: 10px;
    
    
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 500;
   
    font-size: 10px;
    letter-spacing: 4px;
    
    opacity: 0.5;
   
   
    
}
h2{
    text-align:left;
    margin-left: ;
    font-size: 25px;
    margin: 10px;
    margin-left: 20px;
    width: 180px;
    height: 100px;
    font-family: Fraunces;
   
 
   
}
#descricao{ 
   font-size: 12px;
   word-spacing: 2px;
   letter-spacing: 1px;
   text-align: left;
   margin-left:20px ;
   opacity: 0.7;
   font-weight: 500;
   width: 180px;
   height:70px;

}
#div{
    display: flex;
    width: auto;
    height: auto;
}
#preco{
    color: rgb(87, 142, 87);
    font-weight: 700;
    font-family:Fraunces;
     
    font-size: 25px;
    margin-left: 20px;
    width:100px;
    height:30px;

}
#desconto{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 12px;
    opacity: 0.5;
    width: 60px;
    height: 15px;
    text-decoration: line-through;
}



button{background-color: rgb(87, 142, 87);;
    color: white;
    border-radius: 5px;
    width: 170px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left:20px;
    border: 0;
    cursor: pointer;
 

}
button:hover{
    background-color: darkgreen;
}
#carrinho{
    color: white;
    width: 20px;
    height: 20px;
    
}  

   @media(max-width:1360px){
    #meio{
        display: flex;
        flex-direction: column;
        height: 87.5%;
    }
    figure{
        background-image: url(../src/image-product-mobile.jpg);
        background-position: center;
        border-radius: 10px 10px 0px 0px;
        height: 100%;
    }
    section{
        border-radius: 0px 0pc 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
       

    }
    h1, #preco, #descricao,button{
        margin-left: 0;
    }
    button{
        margin-bottom: 10px;
    }
   
   }
   @media(max-width:1200px){
    figure{
        width: 204px;
        height: 162px;
    }
    section{
        width:204px;
        height: 308px;
    }
    #descricao{
        width:160px;
        height:auto;
    }
   }
   

  
  